[Unit]
Description=Update r10k deployments
After=network-online.target

[Service]
Type=oneshot
RuntimeDirectory=webhook
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/flock -F /var/run/webhook/webhook.lock /usr/bin/r10k deploy environment -p production

[Install]
WantedBy=multi-user.target
