[Unit]
Description=Update r10k deployments
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/r10k deploy environment -p

[Install]
WantedBy=multi-user.target
